{% extends "entries/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    
<section class="section">
  <div class=" ">

      <form class="container" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class='form-group'> 
          <div class="media row">
            <div class="col-md-4 ">
              <img class="rounded-circle account-img " src="{{ user.profile.image.url }}" width="400" height="400" >
            </div>
            <div class="col-md-6">
              <legend class='border-bottom mb-4'>
                Profile Info
            </legend>
              <div class="col-10 col-md-12">
                {{ u_form|crispy }}
                {{ p_form|crispy }}
                <div class= "form-group ">
                  <button class="btn btn-lg btn-update" type="submit">Update</button>
              </div>
              </div>
              
            </div>
            
          </div>
        </fieldset>
    </form>
  </div>
</section>
<div class="container">
  <div class='profile-views '>
    <h1 class="btn disabled">Profile visits since logged in: {{num_visits}} {% if num_visits > 1 %}times {% else %} time {% endif %}</h1>

  </div>
</div>

{% endblock content %}





