{% extends 'entries/base.html' %}
{% load crispy_forms_tags %} 
{% block content %}
<div class="col-md-8 offset-md-2 mt-5">
    <form method="POST">
        {% csrf_token %}
        <fieldset class='form-group'>
            <legend class='border-bottom mb-4'>
                Register Today
            </legend>
            {{ form|crispy }} <!--REGISTER FORM -->
        </fieldset>
        <div class= "form-group">
            <button class="btn btn-lg btn-entry" type="submit">Sign up</button>

        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">  
            Already have an account?<a class="ml-2" style='text-decoration: none;' href="{% url 'login' %}">Log In</a>
        </small>
    </div>
</div>


{% endblock %}
