{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <title>My Diary</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'entries/main.css' %}">
    <!-- {% if title %}
        <title>My Diary - {{ title }}</title>
    {% else %}
        <title>My Diary</title>
    {% endif %} -->
</head>

<body>
    <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color: rgb(68, 152, 185)">
        <div class="container">
          <div class=" justify-content-right">
            <span><img class='navbar-brand mt-1 align-bottom' src="/static/media/logo.png" width="110" height="110" alt=""></span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse justify-content-center " id="navbarNavDropdown">
          <ul class="navbar-nav nav-pills nav-fill ">
            <li class="nav-item active">
              <a class="nav-link btn btn-lg btn-link  ml-5 mr-2" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link btn btn-lg btn-link  ml-5 mr-2" href="#">About</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link btn btn-lg btn-link ml-5 mr-2" href="#">Contact</a>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle btn btn-lg btn-link  ml-5 mr-2" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if user.is_authenticated %}
                {{ user.username }}
                {% else %}
                Profile
                {% endif %}
              </a>
              <div class="dropdown-menu ml-auto" aria-labelledby="navbarDropdownMenuLink">
                {% if user.is_authenticated %}
                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                <a class="dropdown-item" href="#">Help</a>
                {% else %}
                <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                <a class="dropdown-item" href="#">Help</a>    
                {% endif %}
              </div>
            </li>
          </ul>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="e.g First Diary" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
        <!-- <div>
            <span class="navbar-text ml-auto content">
            Developed by Tin Stay
          </span>
        </div> -->
      </nav>
      </header>
      <main role='main' class='container'>
        <div class="row">
          <div class="content-section col-md-12">
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                  {{message}}
              </div>
              {% endfor %}
            {% endif %}
          {% block content %}{% endblock %}
        </div>
        <!-- <div class="content-section mt-4 col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div>  -->
        </div>
      </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>