{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <title>My Diary</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Source+Sans+Pro:400,700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <!-- {% if title %}
        <title>My Diary - {{ title }}</title>
    {% else %}
        <title>My Diary</title>
    {% endif %} -->
</head>

<body>
    <header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-light" >
      <div class="container navigation">
          <div class="mobile-nav ">
            <a href="{% url 'home' %}"><img class='navbar-brand float-left mt-1 align-bottom' src="/static/media/logo.png" width="110" height="110" alt=""></a>
            <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          </div>

        <div class="collapse navbar-collapse  " id="navbarNavDropdown">
          <ul class="navbar-nav nav-pills  text-center">
            <li class="nav-item ">
              <a class="nav-link ml-5 mr-2" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item ">
              <a class="nav-link ml-5 mr-2" href="{% url 'profile' %}">Profile <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link ml-5 mr-2" href="{% url 'logout' %}">Logout <span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="nav-item ">
              <a class="nav-link ml-5 mr-2 " href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link ml-5 mr-2" href="{% url 'register' %}">Register <span class="sr-only">(current)</span></a>
            </li>
            {% endif %}

          </ul>
        </div>

        </div>
      </div>
      </nav>
    
      </header>
      <main role='main' class='container main mt-4'>
        <div class="row">
          <div class="content-section col-md-12">
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                  {{message}}
              </div>
              {% endfor %}
            {% endif %}
          {% block content %}{% endblock %}
        </div>

        </div>
      </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>