{% extends 'entries/base.html' %}
{% load crispy_forms_tags %}
      {% block content %}
      {% if user.is_authenticated %}
    <section class="section">
        <div class="col-md-10 offset-md-1">

            <article class="media">
                <div class="media-content">
                    <div class="">
                        <a class="btn btn-entry btn-lg active" role="button" href="{% url 'entry-create' %}">Add new entry</a>
                        

                    </div>
                 
                </div>
            </article>

            <article class="mb-3">
                <div class="col-12">
                    <div class="content mb-3">   
                        <p>
                            <div class='mb-2'>
                                <strong >{{ object.title }}</strong>
                            </div>
                            <div class='mb-2'>
                                <small>{{ object.date_posted }}</small>
                                <br>{{ object.text }}
                            </div>
                        </p>
                    </div>
                </div>
                <a class="btn btn-lg btn-update is-link mr-3 mt-3" href="{% url 'entry-update' object.id %}">Update</a>
                <a class="btn btn-lg btn-outline-danger is-link mr-3 mt-3" href="{% url 'entry-delete' object.id %}">Delete</a>
                <a class="btn btn-secondary btn-return btn-sm" role="button" href="{% url 'home' %}">Back to home</a>
            </article>
        </div>

    </section>
    {% else %}
    <div class="border row content-section mt-5">
        <div class="container col-12">
            <p ><big>Welcome to my Diary website. You can write your personal diary and save it so your memories remain forever. You can only see your own diary that you have created. Log in or Sign up and start your personal notes right now.</big></p> 
        </div>
        <article class="media mt-4">
            <div class="media-content">
                <div class="mb-3 col-12">
                    <a class="btn btn-outline-primary btn-lg  mb-2" role="button" href="{% url 'login' %}" >Login</a>
                    <a class="btn btn-outline-primary btn-lg  mb-2" role="button" href="{% url 'register' %}" >Sign Up</a>
                </div>                          
            </div>
        </article>   
</div>

    
    {% endif %}
    {% endblock %}