{% extends 'entries/base.html' %}
{% load crispy_forms_tags %}
      {% block content %}
      {% if user.is_authenticated %}
    <section class="section">
        <div class="container">
            <h1 class='main-heading col-md-4 offset-md-4 text-center'>Personal Diary</h1>
            
            <article class="media ">
                <div class="media-content text-center col-md-8 offset-md-2 mt-4">
                    <div class="">
                        <a class="btn btn-entry btn-lg " role="button" href="{% url 'entry-create' %}">Add new entry</a>
                    </div>
                </div>
            </article>

            <div class="searchbar col-md-6 offset-md-3">
                <!-- Search form -->
                <form class='searchbar text-center'  method="get">
                    {{ searchFilter.form|crispy }}
                 <!-- <input class="form-control" type="text" name='q' id='id_q' placeholder="Search" aria-label="Search"> -->
                 <button class="btn btn-search ml-2" type='submit'>Search</button>
                </form>

             </div>
             
            {% if entries %}
            {% for entry in entries %}
            {% if entry.author == user %}
            <article class="media col-md-8 offset-md-2">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <div class='col-md-8 offset-md-2'>
                                <a class="btn article-title btn-block" href="{% url 'entry-detail' entry.id %}"><b>{{ entry.title }} </b></a>
                            </div>
                            <div class=" mt-2">
                                <p class='mb-3 text-center'>{{ entry.date_posted }}</p>

                                <p class='mb-3 entry-text'>{{ entry.text }}</p>
                            </div>
                        </p>
                    </div>
                </div>
            </article>
            {% endif %}
            {% endfor %}
            {% endif %}
        
        </div>

    </section>
    {% else %}
    <div class="row homepage col-10 offset-1 text-center">
        <div class="container ">
            <p ><big>Welcome to YourDiary.</br> Our main aim is to allow the user to add, edit and delete their personal diary entries. Log in or Sign up and start creating memories.</big></p> 
        </div>
        <article class="media mt-4 col-10 offset-1">
            <div class="media-content">
                <div class="mb-3 text-center">
                    <a class="btn btn-entry btn-lg ml-2 mb-2" role="button" href="{% url 'login' %}" >Login</a>
                    <a class="btn btn-update btn-lg ml-2 mb-2" role="button" href="{% url 'register' %}" >Sign Up</a>
                </div>                          
            </div>
        </article>   
    </div>


    
    {% endif %}
    {% endblock %}


